body {
    font-family: 'Montserrat', sans-serif;
    background-color: #040116 !important;
    scroll-behavior: smooth;
}

.violetTexture {
    width: 100%;
    height: 700px;
}


@media (max-width: 768px) {
    .violetTexture {
        height: 400px;
        width: 120%;
    }
}


@media (max-width: 450px) {
    .violetTexture {
        height: 350px;
        width: 150%;
    }
}
